#ner {
    background: #008c8c;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin: auto auto 20px auto;
    color: #717775b8;
}


h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin: auto auto 20px auto;
    color: #71777589;
}


.show_result {
    font-family: 'Times New Roman', Times, serif;
}
.show_result input {
    outline: none;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.show_result .initial_input {
    margin-top: 20px;
    /* display: inline-flex; */
}

.show_result .initial_input .res_text{
    height: 40px;
    width: 700px;
    background: none;
    border: solid 1px white;
    border-radius: 0 5px 5px 0;
    color:blueviolet
    /* box-shadow: none; */

}

.show_result .res_label {
    margin-top: 20px;
    height: 42px;
    width: 120px;
    background: #008c8c;
    border-radius: 5px 0 0 5px;
    text-align: center;
    border: solid 1px white;
    margin-right: -5px;
    color: aliceblue;
}

.show_result .res_label:hover {
    background: none;
    cursor: default;
    /* box-shadow: none; */

}

#ner_res_div {
    display: block;
    
    margin-top: 20px;
    width: 700px;
    height: auto;
    min-height: 40px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

#ner_res_div p{
    width: auto;
    padding: 8px 2px;
    font-size: 20px;
}