<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Oops NLP</title>
    <title>{% block title %}{% endblock %} - Oops nlp </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename=html_id_css)}}">
    <!-- <script src="../static/echarts.js"></script> -->
    <link type="image/png" sizes="96x96" rel="icon" href="../static/icon.png">
</head>

<body>
    <header>
        <div class="title" onclick="window.location.href='./'">
            <p class="welcome">Oops NLP</p>
            <p class="oops">You just need Oops once</p>
        </div>
        <div class="function">
            <ul>
                <!-- <a href="./ner" id="ner"><li>Named Entity Recognition</li></a>
                <a href="./re" id="re"><li>Relation Extraction</li></a>
                <a href="./kg" id="kg"><li>Knowledge Graph</li></a> -->

                <li><a href="./ner" id="ner">Named Entity Recognition</a></li>
                <li><a href="./re" id="re">Relation Extraction</a></li>
                <li><a href="./kg" id="kg">Knowledge Graph</a></li>
            </ul>
        </div>
        <div class="img-head">
            <img src="../static/iconsforhome.png" alt="">
        </div>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p><strong>Oops NLP</strong> WebSite. Running on 🤖TencentCloud🤖 Server.</p>
    </footer>
</body>

</html>
