{% extends "base.html" %}
{% block content %}
<h1>Welcome Page</h1>
<div class="oops_one">
    <!-- <button class="btn"><a href="ner">NER Oops Once</a></button>
    
    <button class="btn"><a href="re">RE Oops Once</a></button>
    <button class="btn"><a href="kg">KG Oops Once</a></button> -->
    
    <!-- <button class="btn" href="ner">NER Oops Once</button>
    <button class="btn" hr="re">RE Oops Once</button>
    <button class="btn" href="kg">KG Oops Once</button> -->

    <a href="ner" class="btn">NER Oops Once</a>
    <a href="re" class="btn">RE Oops Once</a>
    <a href="kg" class="btn">KG Oops Once</a>
</div>
{% endblock %}